body {
    background-image: url('bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


#main {
  padding-top: 80px;
}
#title {
  text-align: center;
  background: linear-gradient(45deg, rgba(255, 184, 115, 0.65) 0%, rgba(255, 124, 189, 0.65) 50%, rgba(108, 0, 153, 0.65) 100%);
    border-radius: 7px;
    color: purple;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 6px;
    padding-left: 3px;

}

#image-container {
  text-align: center;
}

#picture {
  text-align: center;
}

#content{
  text-align: center;
}









#characteristic {
    margin: auto;
    width: 60%;
    color: orange;
    padding: 21px;
}

#animated {
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: url("http://downloads.totallyfreecursors.com/cursor_files/gold_star.ani"),
            url("http://downloads.totallyfreecursors.com/thumbnails/gold_star.gif"), auto;
    background-color: #4CAF50; /* Change to your preferred button color /
    color: white; / Text color /
    border: none;
    padding: 10px 20px; / Adjust padding to your liking /
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; / Adjust font size as needed /
    margin: 10px;
    border-radius: 5px;
}

#animated:hover {
    background-color: #45a049; / Change to your preferred button color on hover */
}

#space {
    font-size: 25px;
}

a.button {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.65) 0%, rgba(255, 0, 0, 0.24) 50%, rgba(108, 0, 153, 0.65) 100%);
    border-radius: 7px;
    color: purple;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 6px 22px;

}